body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.full-page {
  width: 100vw;
  height: 100vh;
}

.grid {
  display: grid;
  height: 100%;
  width: 100%;
}

.place-items-center {
  place-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.overflow-hidden {
  overflow: hidden;
}

.login-image {
  width: 100%;
  height: 200px;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.input-append-inner-icon {
  height: 20px;
  width: 20px;
  top: 22%;
  left: 0.75rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-5 {
  gap: 5rem;
}

.form-submit-btn {
  min-width: 221px;
  margin-bottom: 2rem;
}

@media (min-width: 500px) {
  .login-box {
    width: 480px
  }
}

